.root{
	max-width: 640px;
	height: 200vh;
	margin: 0 auto;
}
.header{
	width: 100%;
	height: 1.5rem;
	background: #f2f2f2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.5rem;
	box-sizing: border-box;
	z-index: 300;
	position: fixed;
	left: 0;
	top: 0;
}
.header>i{
	font-size: 0.56rem;
	color: #545454;
}
.header>span{
	font-size: 0.56rem;
	color: #676767;
}
/* 中间开始 */

.middle{
	width: 100%;
	display: flex;
	padding-top: 1.5rem;
	padding-bottom: 1.42rem;
}
.middle::-webkit-scrollbar{
	width: 0;
}
.middle .aside{
	width: 2.27rem;
	background: #fff;
	border-right: 1px solid #f2f2f2;
	box-sizing: border-box;
	flex-direction: column;
	align-items: center;
	text-align: center;
	overflow: auto;
}
.middle .aside>div{
	font-size: 0.38rem;
	line-height: 1.38rem;
}
.middle .goods-box{
	width: 8.53rem;
	height: 100%;
	flex-direction: column;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	overflow: auto;
}
.goods-box .guanggao{
	width: 7.51rem;
	height: 3.01rem;
	
}
.goods-box .guanggao>img{
	width: 7.51rem;
	height: 3.01rem;
}
.goods-box .phone{
	width: 7.51rem;
	height: 2rem;
	margin-top: 0.2rem;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.goods-box .phone .line{
	width: 0.6rem;
	height: 3px;
	background: #dfdfdf;
}
.goods-box .phone>span{
	font-size: 0.4rem;
	color: #6a6a6a;
	margin: 0 0.36rem;
}
.goods-box .iphone{
	width: 7.51rem;
    height: 6.3rem;
	display: flex;
	flex-wrap: wrap;
}
.goods-box .iphone>div{
	width:33.3333% ;
	height: 50%;
	flex-direction: column;
	display: flex;
}
.goods-box .iphone>div>span{
	font-size: 0.28rem;
	color: cac2c2;
	text-align: center;
	margin-top: 0.46rem;
}
.goods-box .iphone>div>img{
	width: 100%;
	height: 60%;
}
/* 中间结束 */