.root{
	max-width: 640px;
	height: 100vh;
	margin: 0 auto;
}
.head{
	width: 100%;
	height: 2.12rem;
	padding: 0 0.38rem;
	box-sizing: border-box;
	position: fixed;
	left: 0;
	top: 0;
	background: #f2f2f2;
	z-index: 999;
}
.head-top{
	width: 100%;
	height: 1.22rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.mi-logo{
	width: 0.74rem;
	height: 0.49rem;
}
.mi-logo>img{
	width: 0.74rem;
	height: 0.49rem;
	display: block;

}
.search{
	width: 7.74rem;
	height: 0.9rem;
	background: #fff;
	box-shadow: 0.01rem 0.01rem 0.05rem 0.05rem #cac2c2;
	display: flex;
}
.search>img{
	width: 0.38rem;
	height: 0.38rem;
	padding-left: 0.26rem;
}
.search>span{
	font-size: 0.42rem;
	line-height: 0.9rem;
	color: #d5d5d5;
	
}
.my-center{
	width: 0.56rem;
	height: 0.56rem;
}
.my-center>img{
	width: 100%;
	height: 100%;
    display: block;
}
.head-bottom{
	width: 100%;
	height: 0.9rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.head-bottom>div>ul>li{
	font-size: 0.36rem;
	color: #727272;
	line-height: 0.9rem;
	padding: 0 0.4rem;
	display: flex;
}
.head-bottom .fenlei .flag{
	padding-left: 0;
}
ul,li{
	list-style: none;
}
.head-bottom .fenlei{
	width: 9.15rem;
	height: 100%;
	flex-wrap: nowrap;
	overflow: hidden;
	overflow: auto;
    
}
.head-bottom>div>ul{
	height: 100%;
	width: 200%;
	display: flex;
    align-items: center;
}
.head-bottom>div>ul::-webkit-scrollbar{
	width: 0;
	height: 0;
}
.head-bottom .xiala{
	width: 0.4rem;
	height: 0.4rem;
}
.head-bottom .xiala>img{
	width: 100%;
	height: 100%;
	display: block;
}
/* ad开始 */
.ad{
	width: 100%;
	height: 5.38rem;
	background:green;
	padding-top: 2.12rem;
}
.ad>img{
	width: 100%;
	height: 5.38rem;
}
/* ad结束 */

/* 菜单开始 */
.menu{
	width: 100%;
	height: 4.58rem;
}
.menu>ul{
	width: 100%;
	height: 4.58rem;
	display: flex;
	flex-wrap: wrap;
}
.menu>ul>li{
	width: 20%;
	height: 50%;
}
.menu>ul>li>img{
	width: 100%;
	height: 100%;
}

/* 菜单结束 */

/* 楼层开始 */
.floor{
	width: 100%;
	height: 7.86rem;
}
/* .floor floor-top{
	width: 100%;
	height: 0.26rem;
	background: red;
}
.floor floor-bottom{
	width: 100%;
	height: 7.6rem;
	background: purple;
} */
.floor .bian{
	width: 100%;
	height: 0.26rem;
	background: #f6f6f6;
}
.floor .good{
	width: 100%;
	height: 7.6rem;
	display: flex;
	justify-content: space-between;
}
.floor .good .left,.right{
	width: 49%;
	height: 100%;
	flex-direction: column;
	display: flex;
	justify-content: space-between;
}
.floor .good .left>img{
	width: 100%;
	height: 100%;
	display: block;
}
.floor .good .right .top,.bottom{
	width: 100%;
	height: 49%;
	background: red;
}
.floor .good .right .top>img{
	width: 100%;
	height: 100%;
}
.floor .good .right .bottom>img{
	width: 100%;
	height: 100%;
}
/* 楼层结束 */

/* 广告开始 */
.advertise1{
	width: 100%;
	height: 4.7rem;
	background: #f6f6f6;
	display: flex;
	align-items: center;
}
.advertise1>img{
	width: 100%;
	height: 4.22rem;
}
.advertise2{
	width: 100%;
	height: 6.6rem;
	background: #f6f6f6;
}	
.advertise2>img{
	width: 100%;
	height: 100%;
}
.list-shouji{
	width: 100%;
	height: 7.65rem;
	display: flex;
	justify-content: space-between;
}
.list-shouji .left,.right{
    width: 49%;
	height: 100%;
}	
.list-shouji .left>img{
	width: 100%;
	height: 5.42rem;
}
.list-shouji .right>img{
	width: 100%;
	height: 5.42rem;
}
.list-shouji .text1{
	font-size: 0.36rem;
	color: #232323;
	margin-top: 0.2rem;
	margin-left: 0.42rem;
}
.list-shouji .text2{
	font-size: 0.32rem;
	color: #7c7c7c;
	margin-top: 0.2rem;
	margin-left: 0.42rem;
}
.list-shouji .text3{
	margin-top: 0.2rem;
	margin-left: 0.42rem;
}
.list-shouji .text3>span{
	font-size: 0.32rem;
	color: #ff6700;
}
.list-shouji .text3>del{
	font-size: 0.22rem;
	color: #7c7c7c;
}
/* 广告结束 */

/* foot开始 */
.foot{
	width: 100%;
	height: 1.42rem;
	z-index: 800;
	position: fixed;
	left: 0;
	bottom: 0;
	display: flex;
	
}
.foot .shouye,.zhonglei,.gouwuche,.wode{
	width: 25%;
	height: 100%;
	background: #fff;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
}
.foot .shouye>img{
	width: 0.6rem;
	height: 0.6rem;
	color: #FF6700;
	
}
.foot .zhonglei>img{
	width: 0.6rem;
	height: 0.6rem;
	color: #8a8a8a;
}
.foot .shouye>span{
	font-size: 0.3rem;
	color: #FF6700;
}
.foot .zhonglei>span{
	font-size: 0.3rem;
	color: #afafaf;
}
.foot .gouwuche>img{
	width: 0.6rem;
	height: 0.6rem;
	color: #8a8a8a;
}
.foot .gouwuche>span{
	font-size: 0.3rem;
	color: #afafaf;
}
.foot .wode>img{
	width: 0.6rem;
	height: 0.6rem;
	color: #8a8a8a;
}
.foot .wode>span{
	font-size: 0.3rem;
	color: #afafaf;
}
.big-box{
	width: 100%;
	padding-top: 2.12rem;
	padding-bottom: 1.42rem;
	box-sizing: border-box;
}
/* .foot>ul{
	width: 100%;
	height: 100%;
	background: grey;
}
.foot>ul>li{
	width: 25%;
	height: 100%;
} */
/* foot结束 */